* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background: rgb(61, 66, 72);
    color: #fff;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.4em;
    width: 20%
}

nav {
    width: 60%;
    margin-left: 10%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li  {
    list-style: none;
}

ul li a {
    color: #fff;
    text-decoration: none; 
    list-style: none;
}

.speaker, .ticket {
    font-weight: bold
}

.ticket {
    color: rgb(141, 170, 77)
}

/*    MAIN    */

.seniority {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2%
}

.student, .trainee, .junior {
   padding: 3%;
   margin: .1%;
   height: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between
}

.student {
    border: 2px solid rgb(150, 184, 224);
}

.trainee {
    border: 2px solid rgb(147, 191, 200)
}

.junior {
    border: 2px solid rgb(237, 213, 148)
}

.discount {
    font-weight: bold
}

.form-title {
   text-align: center;
}

.form-title>p {
    margin-bottom: 1%;
 }

 form {
width: 58%;
margin: 15px auto
 }

 .full-name, .amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 .name, .lastname, .quantity, .students {
    width: 49.4%;
 }

 .email {
    width: 100%;
 }

 .name, .lastname, .email, .quantity, .students {
    color: rgb(152, 145, 145);
    border: 1px solid rgb(152, 145, 145);
    padding: 1.2%;
    border-radius: 5px;
    margin-bottom: 1% 
 }

 .description {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin: 10px 0
 }

 .category {
    margin-left: 44%
 }

.total {
    width: 100%;
    background: rgb(193, 208, 227);
    padding: 2%;
    margin: 20px 0;
    border-radius: 5px;
    color: rgb(93, 92, 92)
}

 .buttons {
    display: flex;
    justify-content: space-between
 }

 .delete, .abstract {
    width: 49.4%;
    background: rgb(141, 170, 67);
    color: #fff;
    border: none;
    padding: 1.2%;
    border-radius: 5px;
    margin: 1% 0
 }

 footer {
    width: 100%;
    background: rgb(61, 66, 72);
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
 }

 footer ul li  {
    padding: 1%;
    margin: 5px 43px;
 }

 footer ul li a {
    padding: 1%
 }

 @media screen and (max-width: 600px) {

    h1 {
        font-size: 1em
    }

    nav {
        width: 80%;
        margin-left: 5%;
        font-size: .6em;
    }


    footer ul li  {
        margin: 5px 4px;
     }

     footer ul li a {
        font-size: .6em
     }
  }

 
    
 